/* Compatible with 1.2 angular-animate, <div class="fade-animation">. */
.fade-animation.ng-enter, .fade-animation.ng-leave {
  transition: opacity 1.0s cubic-bezier(0.250, 0.250, 0.750, 0.750) 0s;
}
.fade-animation.ng-enter.ng-enter-active, .fade-animation.ng-leave {
  opacity: 1;
}
.fade-animation.ng-leave.ng-leave-active, .fade-animation.ng-enter {
  opacity: 0;
}