<h3>Client</h3>
<ul>
  <li>
    <a href="http://angularjs.org/">AngularJS</a> 1.2.0-rc.2, HTML enhanced for web
    apps.
    <ul>
    <li>
      <a href="http://docs.angularjs.org/api/ngResource">angular-resource</a>,
      support for interacting with RESTful server-side data sources.
    </li>    
    <li>
      <a href="https://github.com/angular-ui/ui-router">ui-router</a> 0.2.0, state
      based and nested routing from the Angular UI package.
    </li>
    </ul>
  </li>
  <li>
    <a href="http://getbootstrap.com/">Boostrap</a> 3.0.0, front end framework for
    faster and easier web development.
  </li>
  <li>
    <a href="http://momentjs.com/">Moment.js</a>, date and time parsing and
    formatting library.
  </li>
</ul>

<h3>App Engine</h3>
<ul>
  <li>
    <a href="https://developers.google.com/appengine/">Python SDK</a> 1.8.4,
    application platform.
    <ul>
      <li>
        <a href="https://developers.google.com/appengine/docs/python/ndb/">
        Python NDB</a>, schemaless object datastore.
      </li>
      <li>
        <a href="https://developers.google.com/appengine/docs/python/endpoints/">Cloud Endpoints</a>,
        easily create a web service API.
      </li>
      <li>
        <a href="http://endpoints-proto-datastore.appspot.com/">Endpoints Proto Datastore</a>,
        allows an NDB model to be used directly with a Cloud Endpoints API.
      </li>
    </ul>
  </li>
</ul>