<form name="model_form" ng-submit="save()" novalidate>
  <div class="input-group">
    <input
      ng-model="model.name"
      class="form-control" type="text" placeholder="Name" required>
    <span class="input-group-btn">
      <button class="btn btn-primary">
        <span class="glyphicon glyphicon-ok"></span> Save
      </button>
    </span>
  </div>
</form>

<p ng-show="model.id">
  <a href="{{$root.api_url}}/{{model.id}}">Read</a> one item by unique id.
</p>


<!-- Delete model and go to parent route. -->
<!--
<p ng-show="model.id">
  <a ng-click="delete()">Delete</a>
  <button class="btn btn-danger" ng-click="delete()">Delete</button>
</p>
-->